@media(max-width: 1440px)
{
    .ymap
    {
        width: 600px;
    }

    .sect-contact-us .img-wrapper
    {
        width: 600px;
    }

    .sect-contact-us .img-wrapper img
    {
        width: 100%;
    }
}

@media(max-width: 1200px)
{
    .container
    {
        max-width: 960px;
    }
    
    header .contacts-wrapper .contact a
    {
        font-size: 0px;
        width: 29px;
        height: 29px;
        display: block;
        position: relative;
        border-radius: 50%;
        border: 1px solid #000000;
    }

    header .contacts-wrapper .contact.phone a:after
    {
        top: 5px;
        left: 8px;
    }

    header .contacts-wrapper .contact.mail a:after
    {
        top: 8px;
        left: 5px;
    }

    header .contacts-wrapper .contact
    {
        margin: 0;
    }

    header .contacts-wrapper .contact.phone
    {
        padding-left: 0;
    }
    header .contacts-wrapper .contact.mail
    {
        padding-left: 15px;
    }

    header .contacts-wrapper
    {
        margin: 0 10px;
    }

    .menu ul li
    {
        margin-right: 10px;
    }

    .remote-controller
    {
        flex-direction: row;
    }

    .remote-controller img
    {
        margin-right: 25px;
        height: 150px;
        top: 160px;
    }

    .stand
    {
        left: 45%;
    }

    .stand img
    {
        height: 200px;
        margin-right: 25px;
    }

    .controller img
    {
        margin-right: 25px;
        margin-bottom: 25px;
        height: 200px;
    }

    .search-form
    {
        width: 400px;
    }

    .contact-form-wrapper
    {
        width: 450px;
    }

    footer .copyright
    {
        max-width: 240px;
    }

    .ymap
    {
        width: 500px;
        height: 300px;
    }

    .col-ymap
    {
        display: flex;
        align-items: center;
    }

    .sect-contact-us .img-wrapper
    {
        width: 500px;
    }
}

@media(max-width: 992px)
{
    .container
    {
        max-width: 720px;
    }

    .btn-interface
    {
        font-size: 22px;
    }

    .interface .panel
    {
        width: 300px;
    }

    .interface [interface]
    {
        left: 96px;
        top: 60px;
        width: 102px;
    }

    .interface:after
    {
        left: 96px;
        top: 60px;
    }

    .panel-interface
    {
        height: 550px;
    }

    .search-form
    {
        width: 400px;
    }

    .btn-menu
    {
        display: block;
    }

    .menu
    {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        padding-top: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: -1;
        transition: 0.5s;
    }

    .menu.active
    {
        left: 0;
    }

    .menu ul
    {
        display: flex;
        flex-direction: column;
    }

    .menu ul li
    {
        text-align: center;
        margin-bottom: 15px;
    }

    .menu ul li a 
    {
        font-size: 24px;
        font-weight: 700;
    }

    .main-slider .slider-item
    {
        height: 400px;
    }

    .refrigerator-package
    {
        height: 1080px;
    }

    .remote-controller
    {
        top: 185px;
    }

    .stand
    {
        flex-direction: column;
    }

    .stand img
    {
        margin-left: auto;
        margin-bottom: 25px;
    }

    .contact-us .container
    {
        flex-direction: column;
        align-items: center;
    }

    .search-form-wrapper
    {
        margin-top: 50px;
    }

    footer .container
    {
        flex-direction: column;
    }

    footer .footer-col:first-child
    {
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    footer .info, footer .copyright
    {
        max-width: 100%;
    }

    .sect-contact-us .row
    {
        flex-direction: column;
        align-items: center;
    }

    .ymap, .col-ymap
    {
        width: 100%;
    }

    .sect-contact-us .text-wrapper
    {
        padding-left: 0;
        width: 570px;
    }

    .sect-contact-us .text-wrapper .title
    {
        text-align: center;
    }

    .sect-contact-us .img-wrapper
    {
        display: none;
    }
}

@media(max-width: 768px)
{
    .container
    {
        max-width: 540px;
    }

    .btn-interface-wrapper
    {
        display: none;
    }

    .interface-viewer.container
    {
        flex-direction: column;
        margin-top: 25px;
    }

    .interface-text-wrapper
    {
        margin-bottom: 50px;
    }

    .panel-interface .interface-switcher.owl-carousel
    {
        display: block;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .btn-interface
    {
        text-align: center;
        font-size: 28px;
    }

    .panel-interface
    {
        height: auto;
    }

    .interface-switcher-navs
    {
        display: flex;
        width: 100%;
        position: absolute;
        top: 35%;
        left: 0;
        z-index: 10;
    }

    .interface-switcher-container
    {
        position: relative;
    }
    
    .main-slider .slider-title
    {
        font-size: 22px;
    }

    .main-slider .slider-title b
    {
        font-size: 36px;
    }

    .main-slider p
    {
        font-size: 16px;
    }

    .main-slider .slider-item
    {
        min-height: 330px;
        height: auto;
    }

    .main-slider p
    {
        margin-bottom: 25px;
        width: 50%;
    }

    .main-slider .slider-wrapper .container
    {
        padding: 0 70px;
    }

    .refrigerator-package
    {
        background: none;
    }

    .package-item
    {
        position: initial;
        margin-top: 50px;
        flex-direction: column;
    }

    .package-item .item-text
    {
        margin: auto;
    }

    .package-item img
    {
        margin:0 auto 25px auto;
    }

    .refrigerator-package
    {
        height: auto;
    }

    .our-pluses-sect .plus-text
    {
        font-size: 15px;
    }

    .our-pluses-sect .plus-icon
    {
        height: 50px;
    }

    .our-pluses-sect .plus-item
    {
        padding: 0 10px;
    }

    .section-title .container
    {
        padding: 15px;
    }
}

@media(max-width: 540px)
{
    .container
    {
        width: 100%;
    }

    .package-item .item-text
    {
        width: 100%;
    }

    .navbar
    {
        height: 70px;
    }

    body
    {
        padding-top: 70px;
    }

    header .logo
    {
        margin-right: auto;
    }

    .our-pluses-sect .pluses-wrapper
    {
        flex-direction: column;
        margin-top: 0;
        justify-content: center;
        align-items: center;
    }

    .our-pluses-sect .plus-item
    {
        margin-top: 25px;
    }

    .contact-form-wrapper, .contact-form-wrapper .input-form, .search-form
    {
        width: 100%;
    }

    footer .footer-col:first-child
    {
        flex-direction: column;
    }

    header .contacts-wrapper .contact.mail
    {
        padding-left: 5px;
    }

    header .menu .contacts-wrapper
    {
        display: flex;
    }

    header .contacts-wrapper
    {
        display: none;
    }

    .menu
    {
        flex-direction: column;
    }

    header .btn-modal
    {
        display: none;
    }

    header .menu .btn-modal
    {
        margin-top: 15px;
        display: inline-block;
    }

    .main-slider .slider-title b
    {
        font-size: 33px;
    }

    .main-slider .slider-title
    {
        font-size: 18px;
    }

    .main-slider p
    {
        width: 100%;
    }

    .nav-dots-wrapper
    {
        bottom: 20px;
    }

    .interface-text
    {
        font-size: 16px;
    }

    .panel-interface .title
    {
        margin-top: 50px;
        margin-bottom: 0;
    }

    .interface-switcher-navs
    {
        top: 30%;
    }

    .modal-dialog
    {
        max-width: 290px;
    }

    .modal-dialog .title
    {
        margin-top: 20px;
    }

    .title
    {
        font-size: 25px;
    }

    .contact-form-wrapper .subtitle
    {
        margin-bottom: 20px;
    }

    .contact-form-wrapper
    {
        padding: 25px;
    }

    .contact-form-wrapper b
    {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .sect-contact-us .text-wrapper, .col.text
    {
        width: 100%;
        
    }

    .sect-contact-us .text-wrapper, .section-title .container
    {
        padding: 0 15px;
    }
}